body {

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.header {
    background: url("pictures/Tourism.png");
    background-position: center;
    background-size: cover;
    height: 700px;
    padding: 44px 20% 143px 20%;

}

.header .text1 {
    position: relative;
    display: inline-block;
    width: 155px;
    height: 64px;
    margin: 0;
    color: #212121;
    font-family: sans-serif;
    font-size: 44px;
    z-index: 1;

}

.header .text1 .circle {
    position: absolute;
    height: 64px;
    width: 64px;
    background-color: #FFF700;
    border-radius: 50%;
    border: #707070;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 7px;
    z-index: -1;


}

.search {
    width: 307.41px;
    height: 64px;
    right: 398px;
    display: flex;
    letter-spacing: 8px;
    color: #212121;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    float: right;
    justify-content: space-between;
}

.card{
    height: 448px ;
    width: 416px;
    text-align: left;
    line-height: 27px;
    color: #9E9E9E;
    font-family: 'Karma', sans-serif;
    padding-top: 105px;
}

.card .title{
    font-size: 94px;
    color: #212121;
    line-height: 1.6;
}

.card .button {
    height: 56px;
    width: 170px;
    background-color: #212121;
    margin-top: 90px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    color: #FFFFFF;
}

.about {
    background: url("pictures/nn.png");
    background-position: center;
    background-size: cover;
    height: 510px;
    padding-top: 223px;
}

.card2 {
    height: 427px;
    width: 1120px;
    background-color: #FFFFFF ;
    border:#707070 ;
    margin:auto;


}

.image {
    height: 427px;
    width: 384px;
}

.content{
    text-align: center;
    height: 427px;
    width: 736px;
    float: right;
}

.content .title2 {
    color: #212121;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
    margin-top: 73px;
}

.content .text2 {

    color: #9E9E9E;
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    height: 107px;
    width: 541px;
    margin: auto;
    margin-top: 46px;
    line-height: 27px;
}

.content .but {
    width: 109px;
    height: 29px;
    margin-top: 49px;
    background-color: #FFFFFF;
    border-bottom-width: 2px;
    border-bottom-color: #212121;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.features {
    height: 325px;
    width: 1120px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;

}

.features .form {
    height: 320px;
    width: 256px;
    text-align: center;

}

.circle2 {
    position: relative;
    margin:0 auto;
    height: 160px;
    width: 160px;
    background-color: #FBFBFB;
    border-radius: 50%;
    margin-top: 40px;
}

.circle2 .icon {
    width: 50px;
    height: 60px;
    position: relative;
    top: 56px;


}
.form .title3 {
    color: #212121;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 23px;
    margin-top: 35px;
    margin-bottom: 23px;
}

.form .text3 {
    font-size: 16px;
    color: #9E9E9E;
    font-family: 'Karma', sans-serif;
    width: 258px;
    height: 71px;
    line-height: 24px;

}

#main {

    height: 500px;
    display: -webkit-flex;
    display: flex;
}

#main div {
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
}

#main div:nth-of-type(1){
    background: url("pictures/takahiro.png");
}

#main div:nth-of-type(2) {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    background: url("pictures/desert.png");
}
#main div:nth-of-type(3){
    background: url("pictures/shel.png");
}

.qae {
    width: 1120px;
    height: 154px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    margin-bottom: 125px;
}
.qae .form2 {
    width: 256px;

 }
.form2 .title3 {
    color: #212121;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 23px;

    margin-bottom: 23px;
}

.form2 .text3 {
    font-size: 16px;
    color: #9E9E9E;
    font-family: 'Karma', sans-serif;
    width: 258px;
    height: 47px;
    line-height: 24px;
}

.form2 .but2 {
    width: 54px;
    height: 29px;
    margin-top: 49px;
    background-color: #FFFFFF;
    border-bottom-width: 2px;
    border-bottom-color: #212121;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.form2:nth-child(1){
     text-align: left;
 }
.form2:nth-child(2){
    text-align: center;
}
.form2:nth-child(3){
    text-align: right;
}

.hotels {
    width:100% ;
    height:805px ;
    background-color: #FBFBFB;
    margin-bottom: 133px;
    padding-top: 73px;
    color: #212121;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
    text-align: center;
}

 .flex{
    width: 1120px;
    height: 154px;
    margin: auto;
    display: flex;
    justify-content: space-between;
     margin-top: 73px;


}


.hotels .form3 {
    width: 352px;
    height: 536px;

    text-align: center;
    background-color: #FFFFFF;
}
.form3 .picture {
    height: 200px;
    width: 352px;
}

.form3 .title4 {
    color: #212121;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 23px;
margin-top: 27px;
}

.form3 .text4{
    font-size: 16px;
    color: #9E9E9E;
    font-family: 'Karma', sans-serif;
    width: 256px;
    height: 71px;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-top: 23px;

}
.form3 .but2 {
    height: 56px;
    width: 170px;
    background-color: white;
    border-width: 1px;
    margin-top: 33px;
   border-color: #212121;
}

.hotels .arrow {
    float: left;
    margin-right:540px;
    margin-left: 540px;
    margin-top: 450px;

}

.folder {
    width:100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
}

.folder .help {
    width: 307.41px;
    height: 64px;
    right: 398px;
    display: flex;
    letter-spacing: 8px;
    color: #212121;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    float: left;
    justify-content: space-between;
}
.folder .social {
    width: 63px;
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
}
.folder .copyrights {
    color: #9E9E9E;
    font-size: 32px;
    font-family: 'Unthrift Second Personal', sans-serif;


}
.copyrights h6{
    font-size: 11px;
    margin-top: 10px ;
}
.divider {
    height: 1px;
    width: 120px;
    background-color: gray;
    display: inline-block;
    margin-bottom: 7px;

}



